body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.labelFinalizado {
    font-size:10vw;
    margin-top:120px;
    margin-bottom: 120px;
}
.labelLetras {
    font-size: 180px;
    margin-top:120px;
    margin-bottom: 120px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.exibicaoLetras{
    display: flex;
    justify-content: center;
}

.labelEstatistica{
    margin-left: 5px;
}

.certas{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.erradas{
    display: flex;
    justify-content: center;
    padding: 10px;
}