<div class="container">
  <h1 class="title">
    SELECIONE UM MODO
  </h1>

  <div class="button-container" data-mode="letras">
    <a href="#" class="card">
      <p><i class="fa fa-font card-icon"></i></p>
      <p class="card-title">LETRAS</p>
    </a>
  </div>

  <div class="button-container" data-mode="cores">
    <a href="#" class="card">
      <p><i class="fa fa-palette card-icon"></i></p>
      <p class="card-title">CORES</p>
    </a>
  </div>

  <div class="button-container" data-mode="numeros">
    <a href="#" class="card">
      <p><i class="fa fa-list-ol card-icon"></i></p>
      <p class="card-title">NÚMEROS</p>
    </a>
  </div>

  <div class="button-container" data-mode="imagens">
    <a href="#" class="card">
      <p><i class="fa fa-images card-icon"></i></p>
      <p class="card-title">IMAGENS</p>
    </a>
  </div>

  <div class="button-container" data-mode="arrastar">
    <a href="#" class="card">
      <p><i class="fa fa-arrows card-icon"></i></p>
      <p class="card-title">MOVER IMAGENS</p>
    </a>
  </div>

  <div class="button-container" data-mode="silabas">
    <a href="#" class="card">
      <p><i class="fa fa-bold card-icon"></i></p>
      <p class="card-title">SÍLABAS</p>
    </a>
  </div>
</div>